@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*
 * Typography: Setting up global font-related properties for all the elements
*/

a {
	text-decoration: none;
	color: inherit;
	transition: .2s;
	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active {
	}
}

.dark-bg {
	a {
		text-decoration: none;
		color: $white !important;
		transition: .2s;
		&:hover,
		&:focus {
			color: $secondaryColor !important;
			text-decoration: underline;
		}

		&:active {
			color: $secondaryColor;
		}
	}
}

body {
	font-family: inherit;
	font-size: 12px;
	@include media(tablet){
		font-size: 14px;
	}

	@include media(desktop){
		font-size: 14px;
	}
}
p {
	font-size: 14px;
}

b,
strong {
	font-weight: $weight-bold;
}

i,
em {
	font-style: italic;
}

img {
	max-width: 100%;
}

blockquote {
	color: $body-color;
	margin: 30px 0;
	padding: 10px 0 0 40px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-left: 4px solid $brand-primary;
	.byline {
		font-size: 16px;
		font-weight: $weight-light;
		display: block;
	}
}

p.lead {
	@include make-lead;
}

p.small {
	@include make-small;
}


.content-styled {
	a {
		color: $brand-primary;
		@include transition();

		&:hover {
			color: $brand-primary-darken;
			text-decoration: none;
		}

		&:active {
			color: $brand-primary-lighten;
			text-decoration: none;
		}
	}

	ul {
		list-style-type: circle;
		margin-left: 1em;

		li {
			margin: 1em 0;
		}
	}

	hr {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		width: 100%;
		height: 1px;
		background-color: $border-color;
	}

	img {
		&.alignleft {
			float: left;
			margin-right: 20px;
			margin-bottom: 20px;
		}
		&.alignright {
			float: right;
			margin-left: 20px;
			margin-bottom: 20px;
		}
		&.aligncenter {
			clear: both;
			float: none;
			margin: 0 auto;
		}
	}

	+ .btn,
	+ p {
		margin-top: 20px;
	}

	ul {
		display: block;
		list-style: none;
		margin-bottom: 0;
	}
}

p {
	font-family: $font-family-body;
	font-weight: $weight-normal;
	font-size: 14px;
	line-height: 20px;
	color: $body-color;
	margin-bottom: 20px;
	@include media(tablet) {
		font-size: 16px;
		line-height: 24px;
	}
	@include media(desktop) {
		font-size: 18px;
		line-height: 140%;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0;
	color: $body-color;
	margin-bottom: 1.2rem !important;
}

h1 {
	font-family: inherit;
	font-weight: 500;
}

h2 { font-weight: 500; }
h3 { font-weight: 500; }
h4 { font-weight: 500; }
h5 { font-weight: 500; }
h6 { font-weight: 500; }

ul {
	li {
		padding-left: 30px;
		position: relative;
		margin-bottom: 15px;
		&:before {
			content: " ";
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 100%;
			background-color: $primaryColor;
			position: absolute;
			left: 0;
			top: 5px;
		}
		ul{
			padding-top: 15px;
		}
	}
	&.graphic-list {
		li {
			&:before {
				background-color: transparent;
				width: 16px;
				height: 16px;
				background-image: url("../img/icons/bullet.svg");
			}
		}
	}
}

ol {
	counter-reset: item;
	padding: 0;
	li {
		counter-increment: item;
		list-style: none inside;
		padding-left: 30px;
		position: relative;

		&:before {
			color: $brand-primary;
			content: "" counter(item) "";
			display: inline-block;
			left: 10px;
			top: 5px;
			line-height: 15px;
			position: absolute;
			font-weight: bold;
			text-align: center;
		}
	}
}

.dark {
	ul {
		li {
			color: $white;
			&:before {
				background-color: $secondaryColor;
			}
		}
		&.graphic-list {
			li {
				&:before {
					background-image: url("../img/icons/bullet-light.svg");
				}
			}
		}
	}

	ol {
		li {
			color: $white;
			&::before {
				color: $secondaryColor;
			}
		}
	}
}
